body {
    background-image: linear-gradient(to right, #A5DCFF, #E9A5FF)
}

.card {
    width: 420px;
    height: 600px;
    border-radius: 10px;
    border: 1px black solid;
    background-color: white;
    box-shadow: 5px 10px 25px black;
    margin: auto;
}

#numeroCarta {
    font-size: 160px;
    text-align: center;
}

#parteAbajoCarta {
    transform: rotate(180deg);
    float: right;
    padding-left: 20px;
}

#parteArribaCarta {
    padding-left: 20px;
}

.black {
    color: black;
    font-size: 150px;
}

.red {
    color: red;
    font-size: 150px;
}

#botoncito {
    margin-bottom: 20px;
}