body {
    background-image: linear-gradient(to right, #A5DCFF, #E9A5FF)
}

.card {
    width: 420px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    border: 1px black solid;
    background-color: white;
    box-shadow: 5px 10px 25px black;
    margin-top: 10px;
}

#numeroCarta {
    font-size: 200px;
    text-align: center;
}

.black {
    color: black;
    font-size: 150px;
    position: relative;
}

.red {
    color: red;
    font-size: 150px;
    position: relative;
}

#parteAbajoCarta {
    transform: rotate(180deg);
    float: right;
}